[Unit]
Description=Speaker control daemon via IR
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /home/pi/ir-ctrl-proj/src/main.py
StandardInput=tty-force
User=pi

[Install]
WantedBy=multi-user.target