[Unit]
Description=Speaker control service via IR,raspotify
After=network.target
After=raspotify.service
StartLimitIntervel=250
StartLimitBurst=20
Requires=setrxprotocols.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/python3 -u src/main.py
WorkingDirectory=/home/pi/ir-ctrl-proj/
User=pi

[Install]
WantedBy=multi-user.target